module.exports = {
  NODE_ENV: '"development"',
  SSO_URL: '"https://service-sso/auth"',
  SSO_REALM: '"test"',
  SSO_NAME: '"sso-name"',
  SSO_CLIENT_ID: '"app-id"',
  FORMATER_ROLE: '"DEFAULT_ROLE"'
}
